---
    title: An Interesting title
    # tags: post
    files:
      - python1
      - python2
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Cherry+Swash&family=Fira+Code&family=Poppins&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>


      html,
      body {
        height: 100%;
        margin: 0;
      }

      body {
        /* Gruvbox themes.
    https://github.com/morhetz/gruvbox
     */
        background-color: #fbf1c7;
        color: #3c3836;

        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-size: 1.1rem;

      }

      #main-content {
        /* margin-left: 25vw;
    margin-right: 25vw; */
        grid-column: 25 / 75;
        grid-row: 1 / 1;
      }

      pre {
        font-family: 'Fira Code', monospace;
        border: 1px #3c3836 solid;
        border-radius: 1em;
        padding: 1.3em 1.5em;
        background-color: #d5c4a1;
        display: inline-block;
      }

      #header {
        color: #7c6f64;
        width: 100%;
        text-align: center;
        margin-top: 0.5em;
        font-size: 3em;
        font-family: 'Cherry Swash', cursive;
        font-weight: bold;
      }

      ::selection {
        background: #3c3836;
        color: #ebdbb2;
      }

      #toc {
        display: inline;
        text-align: justify;
        margin-top: 15vh;
        color: #928374;
        grid-column: 75 / 95;
        grid-row: 1 / 1;
      }

      a {
        color: #3c3836;
      }

      #grid-wrapper {
        display: grid;
        grid-template-columns: repeat(100, 1fr);
      }

      img {
        max-width: 100%;
      }
    </style>
    <title>{{ ptitle }}</title>
  </head>
  <body>
    <div id="header">{{ title }}</div>
    <div id="grid-wrapper">
      <div id="toc">
        <ul>
          {% for post in collections.all %}
            <li>
              <a href="{{post.url}}">{{ post.data.ptitle }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div id="main-content">
        {{ content }}
      </div>
    </div>

  </body>
</html>
